<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="de.toem.impulse.launchactivateLaunch" value="false"/>
    <booleanAttribute key="de.toem.impulse.launchactivateTermination" value="false"/>
    <intAttribute key="de.toem.impulse.launchdelayLaunch" value="0"/>
    <intAttribute key="de.toem.impulse.launchlaunch" value="2"/>
    <intAttribute key="de.toem.impulse.launchmode" value="3"/>
    <stringAttribute key="de.toem.impulse.launchport" value=""/>
    <booleanAttribute key="de.toem.impulse.launchrestart" value="true"/>
    <intAttribute key="de.toem.impulse.launchterminate" value="1"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/crossecore-generator/xtend-gen/com/crossecore/CrossEcore.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.crossecore.CrossEcore"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="crossecore-generator"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-d 0&#13;&#10;-e C:/path/to/metamodel.ecore&#13;&#10;-L typescript&#13;&#10;-p C:/desiredPath/"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="crossecore-generator"/>
</launchConfiguration>
